@font-face {
  font-family: "iconfont"; /* Project id 3671101 */
  src: url('iconfont.woff2?t=1664105351565') format('woff2'),
       url('iconfont.woff?t=1664105351565') format('woff'),
       url('iconfont.ttf?t=1664105351565') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-dianying:before {
  content: "\e609";
}

.iconfont-dianyingyuan:before {
  content: "\e610";
}

